/**************************************************************************************************************************************
* Description:    Css for every site
* Author:         Kenny Betschart
* Date:           10.12.19
**************************************************************************************************************************************/
html{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --main-color: #047eb6;
}
body{
    margin: 0;
    background-color: #141414;
}
form{
    margin: 0;
    height: auto;
}
.errorMsg{
    color: red;
}
/**************************************************************
****************************Nav Bar****************************
**************************************************************/
#mainNavBar{
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    height: 80px;
}
#navBarLinkContainer{
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a:link.navBarLink{
    color: var(--main-color);
    text-decoration: none;
}
a:hover.navBarLink{
    color: var(--main-color) !important;
}
a:visited.navBarLink{
    color: #FFFFFF;
}
a:link#disabledLink{
    color: currentColor;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}
#navBarLoginContainer{
    width: 35%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 2%;
}
.form-control{
    border: solid black 1px;
    border-radius: 20px;
}
.form-control:hover, .form-control:focus{
    border: solid var(--main-color) 2px;
}
.loginButtons{
    border: none;
    margin: 0px 3px 0px 0px;
    padding: 5px 7px 5px 7px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.loginButtons:hover{
    color: var(--main-color) !important;
    cursor: pointer;
}
.loginButtons:active{
    box-shadow: 2px 2px 3px black;
}
#signupButton{
    text-decoration: none;
    padding: 4px 6px 4px 6px;
}
#signupButton:hover{
    color: var(--main-color);
    cursor: pointer;
}
#logoutButton{
    color: red;
}

/**************************************************************
*****************************Postlist**************************
**************************************************************/
.PostList{
    list-style-type: none;
    color: white;
}
.singlePost{
    padding-left: 2%;
    border-top: solid white 1px;   
}
.singlePostLink{
    text-decoration: none;
    color: var(--main-color);
}
.singlePostLink:hover{
    color:white;
}
.article_text_preview{
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 1;
    width: 25%;
}
#pageinationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnPage{
    text-decoration: none;
    border: solid var(--main-color) 1px;
    height: min-content;
    padding: 0.5% 1% 0.5% 1%;
    color: white;
    background-color: black;
    font-weight: bold;
    margin-right: 1%;
    border-radius: 20px;
}
.btnPage:hover{
    background-color: white;
    color: black;
}
.btnPage:active{
    box-shadow: 1px 1px 3px black;
}
#pageinationDisplay{
    font-weight: bold;
    display: flex;
    height: min-content;
    color: white;
}

/**************************************************************
**************************Entire Post**************************
**************************************************************/
.entirePost{
    color: white;
    margin-left: 2%;
}
#postText{
    width: 60%;
    border: solid var(--main-color) 1px;
    padding: 1% 2% 1% 2%;
    border-radius: 20px;
    min-height: 200px;
    background-color: #242424;
    word-wrap: break-word;
    margin-top: 1%;
}
#postTitle{
    font-size: 185%;
    text-decoration: underline;
}

/*********************%*****************************************
*****************************Signup****************************
**************************************************************/
.registerFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.formContainer{
    display: flex;
    align-items: center;
    background-color: #242424;
    filter: drop-shadow(3px 3px 3px black);
    color: white;
    flex-flow: column;
    padding: 3% 5% 3% 5%;
    width: 30%;
}
#signupForm{
    width: -moz-available;
}
#singupButton{
    border: solid var(--main-color) 2px;
    border-radius: 20px;
    color: white;
    background: black;
    padding: 3% 5% 3% 5%;
    font-weight: bold;
    margin-top: 1%;
}
#singupButton:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
#singupButton:active, #singupButton:focus{
    box-shadow: 1px 1px 3px black;    
}
.form-group{
    margin: 8px 0px 8px 0px;
}
.input-field{
    border: solid black 2px;
    border-radius: 20px;
    padding: 0.5% 1% 0.5% 1%;
    min-height: 20px;
    width: 100%;
}
.input-field:hover, .input-field:focus{
    border: solid var(--main-color) 2px;
}

/**************************************************************
*************************Upload Post***************************
**************************************************************/
#uploadPostContainer{
    margin-left: 1%;
    width: 40%;
    background-color: #141414;
}
#uploadPostTitle{
    width: 50%;
    border: solid black 2px;
    padding: 0.5% 1% 0.5% 1%;
    border-radius: 20px;
    min-width: 230px;
}
#uploadPostTitle:hover, #uploadPostTitle:focus{
    border-color: var(--main-color);
}
#uploadPostText{
    border: solid black 2px;
    padding: 0.5% 1.5% 0.5% 1.5%;
    resize: none;
    border-radius: 20px;
}
#uploadPostText:hover, #uploadPostText:focus{
    border-color: var(--main-color);
}
#uploadPostButton{
    margin-top: 2%;
    background-color: transparent;
    background-image: url("../Pictures/uploadIcon.png");
    background-size: cover;
    -webkit-filter: invert(100%);
    border: none;
    padding: 1% 1.5% 1% 1.5%;
    width: 5%;
    min-height: 35px;
    min-width: 35px;
}
#uploadPostButton:hover{
    cursor: pointer;
    border: solid #FB8049 1px;
    border-radius: 20%;
}

/**************************************************************
****************************Footer*****************************
**************************************************************/
footer{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
    bottom: 0px;
    width: 100%;
    position: fixed;
}
