<!-- 
 * Author: Kenny Betschart
 * Date: 10.12.2019
 * Project: myBlog
 * Filename: entirePost
 * Description: Shows the entire Post
-->
<div class="entirePost">
    <h4><i>{date_author}</i></h4>
    <span id="postTitle">{title}</span>

    <div id="postText">
        {text}
    </div>
	
	<div id="postKarma">
        
		
		<form method="POST" action="singlePost.php?post_id={post_id}">
			{amountOfKarma}
			
			<button name="upvoteButton" id="upvoteButton" type="submit" />
			<button name="downvoteButton" id="downvoteButton" type="submit" />
		</form>
    </div>
</div>