<!-- 
 * Author: Kenny Betschart
 * Date: 29.12.2019
 * Project: myBlog
 * Filename: fullPost
 * Description: Shows an entire Post  
-->

<div class="fullPost">
    <div class="card">
        <!-- <h5 class="card-header">{date_autor}</h5>
        <div class="card-body">
        <h5 class="card-title">{title}</h5> -->
        <p class="card-text">{Posts}</p>
        <form id="delete_article_form" action="post_deleted.php" method="POST">
            <input type="hidden" name="post_id" value="{post_id}">
        </form>
        </div>
    </div>
</div>