<!-- 
 * Author: Kenny Betschart
 * Date: 10.12.2019
 * Project: myBlog
 * Filename: functions
 * Description: Controller for various function     
-->
        <nav id="mainNavBar">
                <div id="navBarLinkContainer">
                    <a class="navBarLink" href="index.php?page=0">myBlog</a>
    
                    <a class="navBarLink" href="uploadPost.php?link=uploadPost">Post Article</a>
                </div>
                <div id="navBarLoginContainer">
                    <form action="index.php?page=0" class="form-signin" method="POST">

                        <button class="loginButtons" type="submit" id="loginButton" name="logout_button">Log out</button>
                    </form>
                </div>
            </nav>