<!-- 
 * Author: Kenny Betschart
 * Date: 10.12.2019
 * Project: myBlog
 * Filename: functions
 * Description: Controller for various function     
-->
        <nav id="mainNavBar">
                <div id="navBarLinkContainer">
                    <a class="navBarLink" href="index.php?page=0">myBlog</a>
    
                    <a class="navBarLink" href="index.php?link=postArticle">Post Article</a>
                </div>
                <div id="navBarLoginContainer">
                    
                </div>
            </nav>