<!-- 
 * Author: Kenny Betschart
 * Date: 10.12.2019
 * Project: myBlog
 * Filename: postTemplate
 * Description: Template to show every single post in a list   
-->

<li class="list-group-item bg-light col-md-12">
        
        <div class="row">
            <div class="col-md-10">  
                <a  href="single_article.php?post_id={post_id}"><h4>{title}</h4></a>
                <p class="article_text_preview">{text}</p>
                <p>{date_author}</p>
            </div>
        
        </div>
      
    </li>