<!-- 
 * Author: Kenny Betschart
 * Date: 10.12.2019
 * Project: myBlog
 * Filename: postTemplate
 * Description: Template to show every single post in a list   
-->

<li class="singlePost">
        
        <div class="row">
            <div class="col-md-10">  
                <a class="singlePostLink" href="singlePost.php?post_id={post_id}"><h4>{title}</h4></a>
                <p class="article_text_preview">{text}</p>
                <p><i>{date_author}</i></p>
            </div>
        
        </div>
      
    </li>