<!-- 
 * Author: Kenny Betschart
 * Date: 10.12.2019
 * Project: myBlog
 * Filename: posts
 * Description: Shows a list of posts     
-->
<!-----------------Beiträge--------------------------->
<div class="posts">
        <ul class="PostList">
          {Posts}
        </ul>
      </div>
      <br>

      <div id="pageinationContainer">
        <a href="{back_page_button_link}" class="btnPage" {visible}>BACK</a>
        <a href="{next_page_button_link}" class="btnPage" {visible}>NEXT</a>

        <span id="pageinationDisplay">Page {activePage}/{maxPages}</span>
      </div>