<!-- 
 * Author: Kenny Betschart
 * Date: 10.12.2019
 * Project: myBlog
 * Filename: posts
 * Description: Shows a list of posts     
-->
<!-----------------Beiträge--------------------------->
<div class="posts">
        <ul class="list-group bg-light">
          {Posts}
        </ul>
      </div>
      <br>
      <a href="{back_page_button_link}" id="btn_previous_page" class="btnPage" {visible}>BACK</a>
      <a href="{next_page_button_link}" class="btnPage" {visible}>NEXT</a>

      <div id="pageination">
        <h4>Page {activePage}/{maxPages}</h4>
      </div>