<div class="registerFormContainer">
        <div class="formContainer">
            <p>Register to post your own Blogs!</p>

            <form action="register.php" method="POST">
                <div class="form-content">
                        <div class="form-group">
                            <input tabindex="1" type="text" class="form-control" placeholder=" Username" name="signup_username" required autofocus/>
                        </div>
                        <div class="form-group">
                            <input tabindex="2" type="text" class="form-control" placeholder="First Name" name="signup_fname" required/>
                        </div>
                        <div class="form-group">
                            <input tabindex="3" type="text" class="form-control" placeholder="Last Name" name="signup_lname" required/>
                        </div>
                        <div class="form-group">
                            <input tabindex="4" type="email" class="form-control" placeholder="E-Mail" name="signup_email" required/>
                        </div>
                        <div class="form-group">
                            <input tabindex="5" type="password" class="form-control" placeholder="Your Password" name="signup_passw" required/>
                        </div>
                        <div class="form-group">
                            <input tabindex="6" type="password" class="form-control" placeholder="Confirm Password" name="signup_cpassw" required>
                        </div>
                    </div>

                    <div class="loginbtn">
                        <button tabindex="7" name="signup_button_form" class="btn btn-lg btn-light text-dark btn-block text-uppercase" type="submit">Sign Up</button>
                    </div>
                    <br>
                    {ERROR MESSAGE}</p>
                </div>
            </form>
        </div>
    </div>
    