<!-- 
 * Author: Kenny Betschart
 * Date: 10.12.2019
 * Project: myBlog
 * Filename: posts
 * Description: Shows a list of posts     
-->

<p></p>
<form action="uploadPost.php" method="POST">

  <input type="hidden" name="token" value="{token}">

  <input class="article_title" type="text" name="UploadPostTitle" placeholder="An interesting Title" required></input>
  <br> <br>

  <textarea class="textarea" id="editor" name="UploadPostText" placeholder="Write something here..." rows="6" cols="100"></textarea>
  <br>

  <div class="postbtn">
    <input name="UploadPostButton" class="btnpost btn-lg btn-success btn-block text-uppercase" value="Post Article" type="submit"></input>
  </div>
  <br>
  {ERROR MESSAGE}</p>
</form>