<!-- 
 * Author: Kenny Betschart
 * Date: 10.12.2019
 * Project: myBlog
 * Filename: posts
 * Description: Shows a list of posts     
-->

<p></p>
<div id="uploadPostContainer">
  <form action="uploadPost.php" method="POST">

    <input id="uploadPostTitle" type="text" name="UploadPostTitle" placeholder="An interesting Title" required></input>
    <br> <br>

    <textarea class="textarea" id="uploadPostText" name="UploadPostText" placeholder="Write something here..." rows="12" cols="100" maxlength="200" required></textarea>
    <br>
    
    <input name="UploadPostButton" id="uploadPostButton" value="" type="submit"></input>
    <br>
    <span class="errorMsg">{ERROR MESSAGE}</span>
  </form>
</div>